@import "../../app.scss";

.dropdown-wrapper {
}

.dropdown-container {

  position: relative;

  &.absolute {
    position: absolute;
    z-index: 99999;
  }

  .input {
    cursor: pointer;
  }

  .tooltip-custom {
    font-size: 12px !important;
    line-height: 30px !important;
    padding: 0px 10px !important;
  }

  .dropdown {
    position: absolute;
    top: 100px;
    width: fit-content;
    background: var(--card);
    border-radius: var(--radius);
    z-index: 999;
    @extend %modal-shadow;

    #arrow-up {
      content: "";
      width: 18px;
      height: 9px;
      position: absolute;
      top: -15px;

      svg {
        color: white;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-radius: var(--radius);

      li {
        padding: 0 size(2);

        &:focus-within {
          background: hsla(var(--primary-hsl), 0.1);
        }

        &:hover {
          background: hsla(var(--primary-hsl), 0.1);
        }

        &:first-of-type {
          .drop-item {
            padding-top: 10px;
          }
        }

        .drop-item {
          display: flex;
          justify-content: space-between;
          align-items: normal;
          padding: 8px 0;
          min-width: 250px;
          height: 20px;

          .title {
            font-size: 15px;
            text-transform: none;
            display: flex;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            flex: 0.75;

            .icon {
              margin-right: 8px;
            }
          }

          input[type='checkbox'], input[type='radio'] {
            display: flex;
            width: 15px;
            align-self: center;
            margin: 0;
            padding: 0 0 0 size(1);
          }
        }
      }

      .search-input {
        border-bottom: 1px solid var(--bg-muted);

        &:focus-within {
          background: none;
        }

        &:hover {
          background: none;
        }

        label {
          .input-labels {
            display: none;
          }

          .input-bar {
            border: none;
            padding: 0;
            margin: 0;

            &:focus-within {
              box-shadow: none;
            }

            .input-box {
              input[type="checkbox"], input[type="radio"] {
                width: 100%;
                padding: size(1);
                padding-right: 0;
              }
            }

            .expand {
              display: none;
            }
          }
        }
      }
    }
  }

  .left {
    #arrow-up {
      left: 20px;

    }
  }

  .right {
    right: 0;

    #arrow-up {
      right: 20px;
    }
  }
}
