@import "../../app.scss";

label.generic-input{
  .input-labels {

    display: flex;
    justify-content: space-between;
    margin-top: size(2);
    p{
     color: var(--text-light);
     font-size: size(1);
     padding: 0;
     margin: 0;
     line-height: size(3);

      text-transform: uppercase;
      i{
        text-transform: none;
        }
      }
    .hint {
      color: var(--hub);
      cursor: pointer;
      text-transform: none;

    }
  }

  .input-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background:var(--card);
      border: 1px solid var(--bg-muted);
      border-radius: var(--radius);
      padding: 0  size(1.5) 0 size(2)+2;
      &:hover{
        @extend %input-hover-border;
      }
      &:focus-within{
          @extend %input-focus-border;
         @extend %input-box-shadow;
      }
      // .icon-left {
      //   margin: 0 0 0 25px;
      // }
    
    .input-box {

      display: flex;
      align-items: flex-end;
      width: 100%;
      .icon-left{
        svg{
          width: 14px;
          height: 18px;
        }
      }
      input {

        outline: none;
        border: none;
        margin: 0;
        font-size: 15px;
        color: var(--text-light);
        padding-left: size(1)+2;

        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
    .come-near{
      margin-left: size(-2)-2;
    }
    .icon-right {
      height: size(4);
      padding-left: size(1.5);
      display: flex;
      align-items: center;
      border: none;
      svg{
        width: 14px;
      }
    }

    .seperate {
      border-left: 1px solid var(--bg-muted);
    }
    .button{
      width: fit-content;
      padding: 0;
      border: none;
      padding-left: 18px;
      border-left: 1px solid var(--bg-muted);
      height: 48px;
      border-radius: 0;
      &:focus{
        box-shadow: none;
      }
      span{
        display: none;
      }
      svg:hover{
        path{
          fill:var(--hub)
        }
      }
    }
  }

  .fit-right{
    display: block;
    padding-right: 0;
  }


}
.buttonize{
  div.input-labels{
      display: none;
  }

  .input-bar{
      // padding:0;
      width: fit-content;
      .input-box{
          input{
              padding: 5px 5px 5px size(1)-1;
              font-size: 13px;
              color: var(--text-muted);
          }
      }
      div.icon-right{
          height: 0;
          padding-left: size(1);
      }
  }
}
fieldset{
  border: none;
}