@import "../../app.scss";

label{
  .input-labels {

    display: flex;
    justify-content: space-between;
    p{
     color: var(--text-light);

      text-transform: uppercase;
      i{
        text-transform: none;
        }
      }
    .hint {
      color: var(--hub);
      cursor: pointer;
      text-transform: none;

    }
  }

  .input-bar {

      display: flex;
      justify-content: space-between;
      align-items: center;
      background:var(--card);
      border: 1px solid var(--bg-muted);
      border-radius: var(--radius);
      padding: 0  size(1.5) 0 size(2)+2;
      // .icon-left {
      //   margin: 0 0 0 25px;
      // }
    
    .input-box {

      display: flex;
      align-items: flex-end;
      input {

        outline: none;
        border: none;
        margin: 0;

        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
    }
    .come-near{
      margin-left: size(-2)-2;
    }
    .icon-right {
      height: size(4);
      padding-left: size(1.5);
      display: flex;
      align-items: center;
      border: none;     

    }
    .seperate {
      border-left: 1px solid #e5e3e3;
    }
  }


}