@import "../../app.scss";

.badge{
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: size(1.5);
    padding: 4px size(1) 4px size(1)-4;
    width: max-content;

    span{
        text-transform: uppercase;
        margin-left: 5px;
        font-size:13px;
        width: max-content;

    }
    .devided{
        font-weight: 400;
    }
    .devisor{
        color: var(--text-muted);
    }
}


.badge-recording{
    background-color:var(--card);
    span{
        font-size:11px;
    }
}

.round{
    padding: size(0.5);
    span{
        display: none;
    }
}