@import "../../app.scss";

.profile-bar {
  .table-header {
    margin: size(2) 0 0;
  }

  .user {
    display: flex;
    align-items: center;
    margin: size(1) 0 0;
    outline: none;
    cursor: pointer;

    &.is-active {
      background: hsla(var(--primary-hsl), 0.1);
      border-radius: var(--radius);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;

      .photo {
        border-color: var(--primary);
      }
    }
  }

  .photo {
    border-radius: 50%;
    width: 44px; // size(3) - 2× 2px border
    margin-right: 20px;
    border: 2px solid transparent;
  }

  .user-info {
    flex: 1 0;

    a, a:hover, a:active {
      text-decoration: none;
    }

    .username {
      font-size: 15px;
      color: var(--text);
    }

    small.role {
      font-size: 12px;
      color: var(--text-muted);
    }
  }

  .logout {
    display: flex;
    cursor: pointer;
    padding-right: 10px;
    z-index: 9999;

    svg {
      fill: var(--text-light);
      &:focus, &:hover {
        fill: var(--alert);
      }
    }
  }
}
