.sidebar-panel {
    height: 100%;
}

.hamburger {
    display: block;
    padding-bottom: 10px;
    position: relative;
    top: -12px;
}

label {
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
    justify-content: center;
}

span {
    background: blue; /*var(--hub);*/
    border-radius: 10px;
    height: 3px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

input[type="checkbox"] {
    display: none;
}


.brand-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img {
    margin-right: 10px;
}

.name {
    color: red; /*var(--text);*/
    font-weight: 600;
    font-size: 18px;
}

.version {
    color: black; /*var(--text-light);*/
    font-size: 10px;
    font-weight: 400;
    margin-left: 5px;
}
