.alert-message {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    color: var(--alert);
    background: hsla(2, 100%, 98%, 1);
    height: 48px;
    width: fit-content;
    .info-circle{
      font-size: 12px;
      border: 1px solid var(--alert);
      color: var(--alert);
      padding: 1px 6px;
      border-radius: 50%;
      font-weight: bold;
      margin-right: 10px;
      margin-left: 10px;
    }
    .cross-sign{
      font-size: 12px;
      color: var(--alert);
      font-weight: bold;
      margin-left: 10px;
      margin-right: 10px;

    }
  }