@import "../../app.scss";
.alert-message {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    background: hsla(var(--alert-hsl),0.1);
    padding: size(1) size(2);
    div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .message{
            font-size: 15px;
            color: var(--alert);
            margin-left: size(1);
            font-weight: 500;
            line-height: size(2);
          }
    }

    svg path {
        fill: var(--alert);
    }
  }
