@import "../../app.scss";

#page-root {
    display: flex;
    width: 100%;
}

#landing-layout {
    padding: 0 initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
        padding: size(5) 0;
        text-align: -webkit-center;
        h1 {
            font-size: 28px;
            text-align: center;

            span.version {
                font-size: 14px;
                color: var(--text-light);
            }
        }

        p {
            text-align: center;
        }
    }
}

.main {
    flex: 1;
    .main-body {
        margin: 0 var(--main-content-gutter) 60px;
    }
}
