@import "../../app.variables";

// Control bar underneath page title for search, filtering and sorting
.control-bar {
    @extend %box-shadow-bigger;
    background-color: var(--card-muted);
    margin: 0 calc(-1 * var(--main-content-gutter)) size(2); // stretch all the way to the sides
    padding: 0;
    @include break(w) {
        padding: 0 var(--main-content-gutter);
        display: flex;
        margin-bottom: size(3);
    }
    // Filtering & sorting
    .filtering, .sorting { // shared styles
        display: flex;
        flex-direction: column; // on mobile, stack vertically..
        @include break-from(500px) {
            flex-direction: row; // ..on larger displays, show next to each other
            flex-wrap: wrap;
        }
        & > * {
            border-bottom: 1px solid var(--bg-muted);
        }
    }
    .filtering {
        @include break(w) { flex: 1 1; align-self: flex-start; }
        & > * {
            //@include break(w) { border-right: 1px solid var(--bg-muted); }
            @include break-from(500px) { flex: 1 1 50%; max-width: calc(50% - 1px); }
            @include break-from(1000px) { flex: 1 1 33.3%; max-width: calc(33.3% - 1px); }
            @include break-from(1150px) { flex: 1 1 25%; max-width: calc(25% - 1px); }
            @include break(w) { border: 0; border-right: 1px solid var(--bg-muted); }
            @include break-from(1400px) { flex: 0 1 200px; max-width: 200px; }
        }
    }
    .sorting {
        @include break(w) { flex: 0 1; align-self: center; }
        & > * {
            @include break(w) { border: 0; border-left: 1px solid var(--bg-muted); }
        }
    }
    // Tabs
    .tab {
        @extend %tfx;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: size(1) size(2);
        font-size: 15px;
        line-height: size(3);
        color: var(--text-light);
        font-weight: 500;
        &:hover {
            background: hsla(var(--card-hsl), 0.5);
            color: var(--text-muted);
            span { color: var(--text); }
        }
        &.active {
            background: hsla(var(--hub-hsl), 0.1);
            box-shadow: 3px 0 var(--hub) inset;
            color: var(--hub);
            @include break(w) { box-shadow: 0 3px var(--hub) inset; }
            span { color: var(--text); }
        }
        span {
            color: var(--text-muted);
            margin-left: size(1);
        }
    }
}
