@import "../../app.variables";

.card {
  @extend %box-shadow-bigger;
  background: var(--bg-white);
  border-radius: var(--radius);
  width: 100%;
  display: flex;
  flex-direction: column;

  .title { // upper, main part (with text & icon or percentage)
    @extend %card-header-shadow;
    flex: 1 1 100%;
    padding: size(2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description { // text part in header
      h1 {
        font-size: 15px;
        margin: 0 0 8px;
        &::first-letter { text-transform: capitalize; }
      }
      p {
        font-size: 15px;
        margin: 0;
      }
    }

    .image { // icon
      margin-left: size(1);
    }

    .percentage {
      color: var(--text-light);
      font-size: 26px;

      span {
        font-size: 46px;
      }
    }
  }

  .footer { // footer part with desc text
    background-color: var(--card-muted);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07) inset;
    font-weight: 600;
    font-size: 15px;
    line-height: size(2);
    color: var(--text);
    border-radius: 0 0 var(--radius) var(--radius);
    .text {
      padding: size(1) size(2);
    }
  }
}
