@import "../../app.scss";
.pinned-badge{
    width: size(2);
    height: size(2);
    box-sizing: border-box;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    span{
        text-transform: uppercase;
        font-size: size(1)-4;
        font-weight: 600;
        color: var(--text);
    }
}