.info-circle{
    font-size: 12px;
    border: 1px solid var(--alert);
    color: var(--alert);
    padding: 1px 6px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
  }

  .cross-sign{
    font-size: 14px;
    color: var(--alert);
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;

  }