@import "../../app.scss";

.social-list{
    display: flex;
    list-style: none;
    margin-top: size(2);
    .icon{
        margin: 0 size(0.5) 0 0;
    }

    svg path {
        fill: var(--text-light);
        opacity: 0.5;

        &:hover {
            opacity: 1.0;
        }
    }
}
