@import "../../app.scss";

.video-wall-header {
    background: #262424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: size(4);
    padding: 0px 0 0px size(2)-4;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 454545;
    @extend %card-header-shadow;
    .brand-logo {
      display: flex;
      align-items: center;
      img {
        margin: 0 size(1)-2 0 0px;
      }
      h4 {
        color:var(--card);
        // margin: 0;
      }
    }
    .grid-list {
      display: flex;
      align-items: center;
      .item{
          color: var(--text-light);
          font-size: 16px;
      }
      .numbers {
        margin: size(0.5);
        display: flex;
      }
    }
  }


.video-container{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: size(4);
  z-index: 454;
  display: grid;
  column-gap: 0;
  row-gap: 0;
  grid-template-columns: auto auto;
}

.video-container-embedded{  
   position: relative;
   display: grid;
   column-gap: size(2);
   row-gap: size(2);
   top: 0;
    .vw-header {
      display: none;
    }
  
  // .grid-container {
  //   display: grid;
  //   column-gap: size(2);
  //   row-gap: size(2);
    .videocard-embedded {
      .block-body {
        .videocard-tools {
          position: relative;
          margin-bottom: -38px;
        }
      }
    }
  // }
}

.hide{
  display: none;
}

 
  .cols-2{
    grid-template-columns: auto auto;
  }

  .cols-3{
    grid-template-columns: auto auto auto;
  }
  .cols-4{
    grid-template-columns: auto auto auto auto;
  }