@import "../../app.scss";

footer {
  @extend %inner-shadow;
  display: flex;
  box-sizing: border-box;
  padding: size(6) size(2);
  justify-content: space-evenly;
  background: var(--bg-muted);

  //flex-direction: column;
  //width: 100%;

  h3 {
    font-size: 18px;
    color: var(--text-muted);
    padding: 0;
    margin: 0 0 size(1) 0;
  }

  .footer-copyright {
    p {
      font-size: 13px;
      padding: 0;
      margin: 0;
      color: var(--text-light);
    }
  }

  .footer-list {

    //margin: size(2) 0 0 0;

    h3 {
      font-size: 15px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          p {
            color: var(--text-light);
            font-size: 13px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

