:root {
    --hub: hsl(278, 30%, 48%);
    --hub-hsl: 278, 30%, 48%;
    --hub-darker: hsl(278, 34%, 31%);
    --hub-darker-hsl: 278, 34%, 31%;
    --oss: hsl(2, 48%, 39%);
    --oss-hsl: 2, 48%, 39%;
    --oss-darker: hsl(2, 52%, 25%);
    --oss-darker-hsl: 2, 52%, 25%;
    --enterprise: hsl(162, 24%, 38%);
    --enterprise-hsl: 162, 24%, 38%;
    --enterprise-darker: hsl(162, 26%, 26%);
    --enterprise-darker-hsl: 162, 26%, 26%;
    --vault: hsl(229, 25%, 45%);
    --vault-hsl: 229, 25%, 45%;
    --vault-darker: hsl(230, 28%, 31%);
    --vault-darker-hsl: 230, 28%, 31%;

    --secondary: hsl(0, 3%, 41%);
    --secondary-hsl: 0, 3%, 41%;
    --secondary-darker: hsl(0, 3%, 48%);
    --secondary-darker-hsl: 0, 3%, 48%;

    --text: hsl(0, 3%, 15%);
    --text-hsl: 0, 3%, 15%;
    --text-muted: hsl(0, 3%, 41%);
    --text-muted-hsl: 0, 3%, 41%;
    --text-light: hsl(0, 5%, 63%);
    --text-light-hsl: 0, 5%, 63%;

    --card: hsl(0, 0%, 100%);
    --card-hsl: 0, 0%, 100%;
    --card-muted: hsl(0, 0%, 98%);
    --card-muted-hsl: 0, 0%, 98%;

    --info: hsl(205, 74%, 53%);
    --info-hsl: 205, 74%, 53%;
    --info-darker: hsl(205, 71%, 41%);
    --info-darker-hsl: 205, 71%, 41%;
    --success: hsl(131, 31%, 52%);
    --success-hsl: 131, 31%, 52%;
    --success-darker: hsl(130, 35%, 39%);
    --success-darker-hsl: 130, 35%, 39%;
    --warning: hsl(47, 86%, 47%);
    --warning-hsl: 47, 86%, 47%;
    --alert: hsl(2, 58%, 48%);
    --alert-darker: hsl(2, 63%, 36%);
    --alert-darker-hsl: 2, 63%, 36%;
    --alert-hsl: 2, 58%, 48%;

    --bg: hsl(0, 5%, 93%);
    --bg-hsl: 0, 5%, 93%;
    --bg-muted: hsl(0, 4%, 89%);
    --bg-muted-hsl: 0, 4%, 89%;
    --bg-white: hsl(0, 0%, 100%);
    --bg-white-hsl: 0, 0%, 100%;

    --upper-gradient: linear-gradient(90deg, var(--hub) 0%, #b255b4 58.33%, var(--oss) 100%);
    --upper-gradient-mobile: linear-gradient(90deg, var(--hub) 0%, #b255b4 100%);
}
