@import "../../app.scss";

.toggle {
  position: relative;
  display: flex;
  width: 32px;
  height: 18px;
  margin: 0;
  input {
    display: none;
  }
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-light);
  transition: .4s;
  &::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: var(--card);
    transition: .4s;
  }
}


input:checked + .slider {
  background: var(--success);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(12px);
  background: var(--card);
}


/* Rounded sliders */
.slider.round {
  border-radius: 18px;
  &::before {
    border-radius: 50%;
  }
}


.disabled {
  input:checked + .slider {
    background: #ccc;
  }
  input:checked + .slider:before {
    background: #a2a2a2;
  }
}


