// ========== FUNCTIONS & MIXINS ========== //

/*
  Override SASS' handling of HSL(a) color functions, don't touch it and let CSS handle it itself.
  This will enable the trick with variable alpha channels for CSS color variables (see below).
*/
@function hsla($args...) { @return #{'hsla(#{$args})'}; }

/*
  Function for defining (not only) vertical rhythm by multiplies of 12px
    Examples:
    width: size(2); (equals to "width: 24px;")
    line-height: size(3); (equals to "line-height: 36px;")
*/
@function size($multiplier) {
  @return $multiplier * 12px;
}

/*
  Responsivity mixin for custom min-width styles
    Examples:
    @include break-from(450px) { ... }
*/
@mixin break-from($size) {
  @media only screen and (min-width: $size) { @content; }
}


// ========== VARIABLES ========== //

:root {

  --upper-gradient: linear-gradient(90deg, var(--hub) 0%, #b255b4 58.33%, var(--oss) 100%);
  --upper-gradient-mobile: linear-gradient(90deg, var(--hub) 0%, #b255b4 100%);

  // ---------- UI ---------- //

  --radius: 4px;

  --main-content-gutter: 24px; // margins between main content and sidebar/viewport
  @include break-from(800px) {
    --main-content-gutter: 36px;
  }
  @include break-from(1200px) {
    --main-content-gutter: 48px;
  }

}


// ========== PLACEHOLDERS ========== //
/*
  Usage:
  @extend %box-shadow;
*/

%card-header-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
}

%card-footer-shadow {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.07);
}

%box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

%box-shadow-bigger {
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.04), 0px 3px 4px rgba(0, 0, 0, 0.1);
}

%modal-shadow {
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.24), 0px 3px 4px rgba(0, 0, 0, 0.2);
}

%tfx {
  transition: all 0.1s;
}
